@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;700');




/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
    font-weight: bold;
}


:root {
    --blanco: #fff;
    --azul: #30B6B8 ;
    --naranja: #F9A112;
    --rojo: #FE5E6D;
    --gris: #404040;
}

.cerrar{
    background: transparent;
    border: none;

}
.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
}

.icono a {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 35px;
    color: black;
    text-decoration: none;
}

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 765px;
    border-radius: 40px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 70px 60px;

    &.active{
        top: 56%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;   
    }
}

#popup2{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 950px;
    height: 765px;
    border-radius: 50px 0 0 50px;
    padding: 50px 80px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    overflow-y: scroll;

    &.active{
        top: 56%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;   
    }
}
#popup2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#popup2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
#popup2::-webkit-scrollbar-thumb
{
	background-color: var(--rojo);
	border: none;
}

#popup,#popup2 h2{
    font-size: 38px;
}
#popup form p{
    font-size: 20px;
    padding-top: 30px;
}
#popup form{
    display: flex;
    flex-direction: column;
    padding: 0;
}
#popup form button a{
    color: var(--blanco);
    text-decoration: none;
}

#popup a:hover{
    color: var(--rojo);
}
.continue {
    text-align: center;
    font-family: Dosis, serif;
    font-size: 16px;
    margin-bottom: 15px;
}
#popup .popup_input{
    border: 1px solid #ddd;
    border-radius: 6px; 
    width: 447px;
    height: 52px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
#popup .btn-popup{
    width: 450px;
    height: 52px;
    margin: 40px auto;
    border-radius: 5px;
    background: var(--rojo);
    color: var(--blanco);
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.cuenta-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;   
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}
.cuenta{
    width: 140px;
    height: 52px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.cuenta .google img,
.cuenta .facebook img{
    width: 25px;
    height: 25px;
    margin: 13px 40px 13px 40px;
}

.cuenta-promo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.noCuenta, .noRegistro{
    display: flex;
    padding: 15px 0;
    font-size: 16px;
}
.noCuenta p, .noRegistro p{
    padding: 0 15px;
}
.noCuenta a, .noRegistro a{
    font-family: Dosis, serif;
    size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #2a1e17;
    margin: 0 auto;
}
.noRegistro p:last-child{
    padding-bottom: 70px;
}
#blur.active{
    filter: blur(20px);
}
#blur2.active{
    filter: blur(20px);
}

.form2{
    display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  .container .form {
    margin-top: 30px;
  }
  .form2 .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label, .text-area label {
    color: #333;
    font-size: 19px;
  }
  .form2 :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form2 .column {
    width: 100%;
    display: flex;
    column-gap: 15px;
  }
  .txt{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
  }
  .text-area textarea{
    height: 100px;
    width: 500px;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .photo-area input[type="file"] {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    background-image: url("/img/image-preview.png");
    background-size: cover;

  }
  .photo-area input[type="file"]:hover{
    background-image: url("/img/image-preview.png");
    background-size: cover;
  }

  .form2 .gender-box {
    margin-top: 20px;
  }
  .gender-box h3 {
    color: #333;
    font-size: 19px;
    margin-bottom: 8px;
  }
  .form2 :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  .form2 .gender {
    column-gap: 5px;
  }
  .gender input {
    accent-color: rgb(130, 106, 251);
  }
  .form2 :where(.gender input, .gender label) {
    cursor: pointer;
  }
  .gender label {
    color: #707070;
  }
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }
  .form2 button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(254, 94, 109);
  }
  .form2 button:hover {
    background: rgb(254, 52, 72);
  }
  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form2 .column {
      flex-wrap: wrap;
    }
    .form2 :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }







/* Barra de navegación */
.navbar {
    background-size: cover;
	background-image: url("/img/Background_NavBar.jpg");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px 10px;
    width: 100%;
    position: fixed;
    z-index: 100;   

}

/* Logo */

.navbar img{
    width: 150px;
    padding-top: 0px;
    margin-right: 45px;
}

/* Barra de navegación */

.nav-links {
    gap: 18px;
    list-style: none;
    display: flex;
}

.nav-links li {
    padding-top: 30px;
    padding-left: 20px;
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--rojo);
}

#boton1 {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 170px;
    height: 55px;
    border-radius: 30px;
    border-style: none;
    background-color: var(--rojo);
    color: snow;
    cursor: pointer;
}

#boton2 {
    font-size: 15px;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin-top: -30px;
    background-color: var(--naranja);
    margin-left: 80px;
    cursor: pointer;
}

#boton3 {
    font-size: 15px;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin-top: -30px;
    background-color: var(--azul); 
    cursor: pointer;
}

/*Cabecera */

.cabecera {
    background-size: cover;
    background-attachment: fixed;
    padding-left: 155px;
    padding-right: 150px;
    padding-top: 90px;
    display: flex;
    width: 100%;
    height: 750px;
}

.cabecera h1{
    font-family: Dosis;
    color: var(--gris);
    font-size: 50px;
}

.cabecera p{
    margin-top: 10px;
    font-family: Dosis;
    font-size: 20px;
    color: var(--gris);
}

.cabecera .presentacion{
    margin-top: 50px;
    width: 750px;
    height: 645px;
}

.cabecera .imagen{
    display: flex;
    margin-top: 30px;
    width: 500px;
    height: 700px;
}

.cabecera .imagen img{

    height: 600px;
}

.menuCabecera{
    display: flex;
    padding: 15px;
    margin: 0px;
}

.menuCabecera li{
    margin-top: 50px;
    font-family: Dosis;
    color: var(--gris);
    display: inline;
    font-size: 30px;
    padding-right: 50px;
}

.menuCabecera p{
    font-family: Dosis;
    color: var(--gris);
    font-size: 20px;
}

.spn-adoptar {
    color: var(--azul);
}

.spn-amar {
    color: var(--rojo);
}

.btn-huella {
    margin-left: 0rem;
    width: 18px;
    height: 18px;
    margin-bottom: -0.3rem;

}

/******************************/
/**   ¿Qué opciones tienes?  **/
/******************************/
.container{
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    
    height: 100px;
    color: var(--gris);
    font-family: Dosis;
    font-size: 20px;
    margin-top: 40px;
    padding-top: -30px;
}

.container span{
    color: #FCA311;
}

.container h2 {
    font-size: 40px;
}

.titulo-opciones {
    /* display: flex;
    justify-content: center; */
    margin-left: 240px;
}

#opciones {
    background-image: url("/chandilove-frontend/img/barra.png");
    margin-top: -30px;
    padding-top: -30px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 350px;
}


#opciones .caja{
    text-align: center;
    font-family: Dosis;
    color: var(--gris);
    margin: 35px;
    height: 370px;
    border-radius: 30px;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
}

.caja p{
    font-size: 25px;
}

.caja img{

    width: 300px;
    height: 250px;
}


#cajitas{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

#cajitas .cajitas1{
    display: flex;
    list-style: none;
}

.cajitas1 .cajitas2{
    color: #FFFFFF;
    padding-top: 20px;
    margin: 30px;
    text-align: center;
    background-color: var(--azul);
    width: 200px;
    height: 60%;
    border-radius: 5px;
}

.cajitas1 .cajitas3{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    width: 200px;
    height: 60%;
    background-color: #F9A213;
    border-radius: 5px;
}

.cajitas1 .cajitas4{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    width: 200px;
    height: 60%;
    background-color: var(--rojo);
    border-radius: 5px;
}

.cajitas1 .cajitas5{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    background-color: var(--azul);
    width: 200px;
    height: 60%;
    border-radius: 5px;
}

/*************************/
/**   ¿Quiénes somos?   **/
/*************************/

.container2 h2{
    font-size: 40px;

    
}


.container2{
    display: flex;
    margin: 50px 0px 10px 110px ;
    padding: 20px 0;
    color: var(--gris);
    font-size: 20px;
}

.container2 span{
    color: var(--naranja);
}


#opciones2 {
 
    padding: 10px 80px;
    background-image: url("");
    display: flex;
    width: 100%;
}




#opciones2 p{

    padding: 0px 35px 60px ;
    text-align: left;
    font-size: 30px;
    color: var(--gris);
}

#opciones3 {
  
    padding: 10px 80px;
    background-image: url("");
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
}




#opciones3 p{
    display: flex;
    align-items: center;
    justify-content: center;
 
    font-weight: lighter;
    font-size: 20px;
    color: var(--gris);
    
}

.parrafo-somos {
    width: 100%;
    height: 400px;
    margin-bottom: 200px ;
}

.caja2 img{
    width: 130px;
    height: 130px;
}

.caja2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;

}

.caja2 p{
    padding-top: 15px ;
    color: var(--gris);
}

.caja .esquina{
    display: relative;
    width: 300px;
    height: 330px;
    background-color: #F9A112;
}

/*************************/
/**   Nuestro equipo    **/
/*************************/

#ourTeam__container{
    background-image: url("/img/barra-prueba3.png");

}


.container__cards{
    text-align: center;
    width: 100%;
    color: var(--gris);
    font-family: Dosis;
    font-size: 25px;
}
.container__cards h2 {
    margin-top: 150px;
    font-size: 45px;
    margin-bottom: 100px;
}

.container__cards span{
    color: var(--naranja);
}

.ourTeam__cards{
    width: 100%;
    display: grid;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.card__name .acevedo {
    color: var(--azul);
}

.card__name .scarpetta {
    color: var(--naranja);
}
.card__name .ortiz {
    color: var(--rojo);
}

.swiper-wrapper {

    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.card__Ot {
    
    width: 330px;
    height: 350px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.card__Ot_img {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    padding: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card__Ot_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__content p {
    display: flex;
    padding: 0.5rem 1.5rem;
    font-weight: lighter;
    height: 100px;
}

.card__title {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    top: .1em;
}

.card__name{
    color: var(--gris);
    font-size: 23px;
}

.card__text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;

}


.redes-ot i{
    margin-top:1rem ;
    font-size: 30px;
    cursor: pointer;
    bottom: 0;
}

.OurTeam__txt {
    text-align: center;
}

.OurTeam__txt span{
    color: var(--naranja);
}

.OurTeam__txt h2{
    margin-top: 130px;
    font-size: 35px;
    color: var(--gris);
}

.OurTeam__txt .span2{
    color: var(--azul);
}

.marcas__container{
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;

}

.brand{
    display: flex;
    padding: 50px 70px;
    align-items: center;
}



.marca__img {
    width: 150px;
}


/*************************/
/****   Contact Us   *****/
/*************************/




.containerContact{
    width: 70%;
    margin: auto;
}
.titleContact {
    color: var(--gris);
    font-size: 45px;
    /* font-style: normal; */
    /* font-weight: 700; */
    line-height: 66px;
    /* padding: 0px 0px 0px 150px; */
    margin: 0px 0px 5px;
}


.titleContact span {
    color: var(--naranja);
}

.subtitleContact {
    width: 552px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Dosis;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--gris);
    /*  padding: 0px 0px 0px 150px; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-wrapper > * {
    padding: 32px;

}

.contact-form {
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 25px;
    background: #30B6B8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form form {
    display: grid;
    /*EstapropiedadCSSseutilizaparadefiniruncontenedorcomoungrid(rejilla)deelementos.Enestecaso,seestáconfigurandoelformularioparaqueutiliceunsistemaderejillaparaorganizarsuselementosinternos.*/
    grid-template-columns: 1fr 1fr;
    /*EstapropiedadCSSseutilizaparadefinirlascolumnasdelgridenelformulario.Enestecaso,seestáncreandodoscolumnasdeigualancho.Launidad"fr"significa"fracción"yseutilizaparadistribuirelespaciodisponibledemaneraequitativaentrelascolumnas.Enestecaso,ambascolumnasocuparánlamitaddelanchodisponiblecadauna.*/
}

.contact-form form label {
    padding: 22px 0px 10px 0px;
    display: block;
    color:#fff
}

.contact-form form p {
    margin:0px;
    margin-left: 68px;
}

.contact-form form input {
    padding: 20px;
    border: none;
    background: #fff;
    outline: 0;
    color: var(--gris);
    border-radius: 50px;
    margin: auto;
}
.contact-form form p.container-input {
    margin: auto;
    
}

/* Estilos para los campos de entrada */
.container-input_contain
textarea {
    padding: 27px;
    border: none;
    background: #fff;
    outline: 0;
    border-radius: 50px;
    margin: auto;
    color: #404040; /* Color #404040 para el texto en los campos */
    font-family: Dosis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* Estilos para los placeholders */
::placeholder {
    color: #ccc; /* Color gris claro para los placeholders */
}

/* Estilos para los campos de entrada cuando están enfocados */
input:focus {
    color: #404040; /* Color #404040 para el texto de entrada */
}

textarea[name="message"] {
    grid-column: span 2; /* El textarea ocupa dos columnas */
    width: calc(100% - 124px); /* Restar el espacio entre elementos (gap) */
    height: 75px;
    padding: 5px; /* Agregar relleno para el textarea */
    resize: vertical; /* Permitir el cambio de altura verticalmente si es necesario */
    padding: 27px;
    border: none;
    background: #fff;
    outline: 0;
    border-radius: 50px;
    font-family: Dosis;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
  }

.contact-form form button {
    background: #FE5E6D;
    border: none;
    padding: 24px;
    border-radius: 50px;
    color: #FFF;
    font-weight: 600;
}

p.block.sbmt {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin: auto; */
    }


.contact-form form button:hover,
.contact-form form button:focus {
    background: #FCA311;
    color: #fff;
    transition: background-color 0.2s ease-out;
    outline: 0;
    
}

.h2{
    color: #404040;
    font-size: 56px;
    font-style: normal;
    line-height: 66px; /* 117.857% */
}

.h6{
    color: #404040;
   
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.h4{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}
.h5{
    color: #404040;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
} 

.bg-orange {
    color: #FAA212;
}   

form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el formulario en dos columnas */
    gap: 0px; /* Espacio entre elementos */
  }
  
  p.block {
    grid-column: span 2; /* Los elementos con clase "block" ocupan dos columnas completas */
  }
  



/* Detalle contacto*/

.contact-info {
    background: #FCA311;
    padding: 0px 104px 0px 104px;
}

.contact-info-img{
    background: #FCA311;
    border-radius: 0px 0px 0px 50px;
}
.contact-info h6, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 5px 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 32px 0px 0px 0px;
    }
 
    .contact-info h6,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/*Gato portada contactenos*/

.container__imgdetalles,
.img__gato{
    height: 300px;
    width: 300px;
    padding-left: 0px 0px;
}

/*************************/
/****   Footer   *****/
/*************************/

.container__footer {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.social.mb-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

ul.list-unstyled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

p.mb-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-16371 .footer-site-logo {
    text-align: center;
}

.footer-16371 .footer-site-logo a {
    color: #4200ff; }

.footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
      
.footer-16371 .nav-links li {
    display: inline-block; }

.footer-16371 .nav-links li a {
    padding: 10px;
    color: #000; }

.footer-16371 .nav-links li a:hover {
    color: #FE5E6D; }
    
.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }

.footer-16371 .social ul li {
    display: inline-block; }

.footer-16371 .social ul li a {
    display: inline-block;
    padding: 10px; }

.footer-16371 .social ul li.li a {
    color: #df588a; }

.footer-16371 .social ul li.wp a {
    color: #19ff15dd; }
