@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
}
section{
    /* align-items: center;
    justify-content: center;     */
    /* height:100vh;
    width: 100%; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

:root {
    --azul: #30B6B8 ;
    --naranja: #F9A112;
    --rojo: #FE5E6D;
    --gris: #404040;
}

/* Barra de navegación */
.navbar {
    background-size: cover;
	background-image: url("/img/barra-prueba3.png");
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

/* Logo */

.navbar img{
    width: 150px;
    padding-top: 0px;
}

/* Barra de navegación */

.nav-links {
    gap: 15px;
    list-style: none;
    display: flex;
}

.nav-links li {
    padding-top: 30px;
    padding-left: 20px;
    margin-right: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--rojo);
}

#boton1 {
    margin-top: 30px;
    width: 170px;
    height: 55px;
    border-radius: 30px;
    border-style: none;
    background-color: var(--rojo);
    color: snow;
}

#boton2 {
    font-size: 15px;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin-top: -30px;
    background-color: var(--naranja);
}

#boton3 {
    font-size: 15px;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin-top: -30px;
    background-color: var(--azul); 
}

/*Cabecera */

.cabecera {
    background-size: cover;
    background-attachment: fixed;
    padding-left: 120px;
    padding-right: 150px;
    display: flex;
    width: 100%;
    height: 550px;
}

.cabecera h1{
    font-family: Dosis;
    color: var(--gris);
    font-size: 50px;
}

.cabecera p{
    margin-top: 10px;
    font-family: Dosis;
    font-size: 20px;
    color: var(--gris);
}

.cabecera .presentacion{
    margin-top: 50px;
    width: 750px;
    height: 545px;
}

.cabecera .imagen{
    display: flex;
    margin-top: 30px;
    width: 500px;
    height: 700px;
}

.cabecera .imagen img{

    height: 500px;
}

.menuCabecera{
    display: flex;
    padding: 15px;
    margin: 0px;
}

.menuCabecera li{
    margin-top: 10px;
    font-family: Dosis;
    color: var(--gris);
    display: inline;
    font-size: 30px;
    padding-right: 50px;
}

.menuCabecera p{
    font-family: Dosis;
    color: var(--gris);
    font-size: 20px;
}

.container{
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    
    height: 100px;
    color: var(--gris);
    font-family: Dosis;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: -30px;
}

.container span{
    color: #FCA311;
}

.container h2 {
    font-size: 40px;
}


/******************************/
/**   ¿Qué opciones tienes?  **/
/******************************/

#opciones {
    background-image: url("/chandilove-frontend/img/barra.png");
    margin-top: -30px;
    padding-top: -30px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 350px;
}


#opciones .caja{
    text-align: center;
    font-family: Dosis;
    color: var(--gris);
    margin: 35px;
    height: 370px;
    border-radius: 30px;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
}

.caja p{
    font-size: 25px;
}

.caja img{

    width: 300px;
    height: 250px;
}


#cajitas{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

#cajitas .cajitas1{
    display: flex;
    list-style: none;
}

.cajitas1 .cajitas2{
    color: #FFFFFF;
    padding-top: 20px;
    margin: 30px;
    text-align: center;
    background-color: var(--azul);
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.cajitas1 .cajitas3{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    width: 200px;
    height: 50px;
    background-color: #F9A213;
    border-radius: 5px;
}

.cajitas1 .cajitas4{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    width: 200px;
    height: 50px;
    background-color: var(--rojo);
    border-radius: 5px;
}

.cajitas1 .cajitas5{
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
    margin: 30px;
    background-color: var(--azul);
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

/*************************/
/**   ¿Quiénes somos?   **/
/*************************/

.container2 h2{
    font-size: 40px;
}


.container2{
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 20px;
    width: 100%;
    height: 100px;
    color: var(--gris);
    font-family: Dosis;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -30px;
    padding-top: -30px;
}

.container2 span{
    color: var(--naranja);
}


/* NO SE ESTA USANDO */
#somos {
    background-image: url("/img/barra.png");
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 150px;
    display: flex;
    width: 1025px;
    height: 650px;
}

#somos .caja{
    padding-left: 30px;
    font-family: Dosis;
    color: var(--gris);
    margin: 35px;
}

#somos .caja img{
    width: 300px;
    height: 250px;
}

#somos2 {
    background-image: url("/chandilove-frontend/img/barra.png");
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 150px;
    display: flex;
    width: 1025px;
    height: 350px;
}

#somos2 .caja{
    padding-left: 30px;
    font-family: Dosis;
    color: var(--gris);
    margin: 35px;
}

#somos2 .caja img{
    width: 300px;
    height: 250px;
}

#opciones2 {
    background-image: url("/img/Fondo__paticas.svg");
    margin-top: 0px;
    padding-top: -30px;
    display: flex;
    width: 100%;
    height: 300px;
}


#opciones2 .caja{
    text-align: center;
    font-family: Dosis;
    color: var(--gris);
    margin: 35px;
    height: 330px;
}

#opciones2 p{
    text-align: left;
}


.caja2 img{
    padding-left: 180px;
    padding-top: -10px;
    width: 100px;
    height: 100px;
}

.caja2 p{
    padding-left: 180px;
    font-family: Dosis;
    color: var(--gris);
}

.caja .esquina{
    margin-top: -30px;
    padding-top: -30px;
    width: 300px;
    height: 330px;
}

/*************************/
/**   Nuestro equipo    **/
/*************************/

#ourTeam__container{
    background-image: url("/img/barra-prueba3.png");

}


.container__cards{
    text-align: center;
    width: 100%;
    color: var(--gris);
    font-family: Dosis;
    font-size: 25px;
}
.container__cards h2 {
    font-size: 40px;
}

.container__cards span{
    color: var(--naranja);
}

.ourTeam__cards{
    width: 100%;
    display: grid;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.swiper-wrapper {

    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card__Ot {
    
    width: 230px;
    height: 250px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);

    display: flex;
    align-items: center;
    flex-direction: column;

}

.card__Ot_img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card__Ot_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__title {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    top: .1em;
}

.card__name{
    color: var(--gris);
}

.card__text {
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}



.card__btn {
    background-color: var(--azul);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

.OurTeam__txt {
    text-align: center;
}

.OurTeam__txt span{
    color: var(--naranja);
}

.OurTeam__txt h2{
    color: var(--gris);
}

.OurTeam__txt .span2{
    color: var(--azul);
}

.marcas__container{
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.brand{
    display: flex;
    padding: 50px 70px;
    align-items: center;
}



.marca__img {
    width: 150px;
}


/*************************/
/****   Contact Us   *****/
/*************************/

.containerContact{
    width: 70%;
    margin: auto;
}
.titleContact {
    color: var(--gris);
    font-size: 56px;
    /* font-style: normal; */
    /* font-weight: 700; */
    line-height: 66px;
    /* padding: 0px 0px 0px 150px; */
    margin: 0px 0px 5px;
}


.titleContact span {
    color: var(--naranja);
}

.subtitleContact {
    width: 552px;
    height: 40.764px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Dosis;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--gris);
    /*  padding: 0px 0px 0px 150px; */
    margin-top: 10px;
}
.contact-wrapper > * {
    padding: 32px;
    margin-top: 50px;
}

.contact-form {
    width: 70%;
    margin: auto;
    border-radius: 25px;
    background: #30B6B8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form form {
    display: grid;
    /*EstapropiedadCSSseutilizaparadefiniruncontenedorcomoungrid(rejilla)deelementos.Enestecaso,seestáconfigurandoelformularioparaqueutiliceunsistemaderejillaparaorganizarsuselementosinternos.*/
    grid-template-columns: 1fr 1fr;
    /*EstapropiedadCSSseutilizaparadefinirlascolumnasdelgridenelformulario.Enestecaso,seestáncreandodoscolumnasdeigualancho.Launidad"fr"significa"fracción"yseutilizaparadistribuirelespaciodisponibledemaneraequitativaentrelascolumnas.Enestecaso,ambascolumnasocuparánlamitaddelanchodisponiblecadauna.*/
}

.contact-form form label {
    padding: 32px 0px 10px 0px;
    display: block;
    color:#fff
}

.contact-form form p {
    margin:0px;
    margin-left: 68px;
}

.contact-form form input {
    padding: 27px;
    border: none;
    background: #fff;
    outline: 0;
    color: var(--gris);
    border-radius: 50px;
    margin: auto;
}
.contact-form form p.container-input {
    margin: auto;
    
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    padding: 27px;
    border: none;
    background: #fff;
    outline: 0;
    border-radius: 50px;
    margin: auto;
    color: #404040; /* Color #404040 para el texto en los campos */
    font-family: Dosis;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* Estilos para los placeholders */
::placeholder {
    color: #ccc; /* Color gris claro para los placeholders */
}

/* Estilos para los campos de entrada cuando están enfocados */
input:focus {
    color: #404040; /* Color #404040 para el texto de entrada */
}

textarea[name="message"] {
    grid-column: span 2; /* El textarea ocupa dos columnas */
    width: calc(100% - 124px); /* Restar el espacio entre elementos (gap) */
    height: 65px;
    padding: 5px; /* Agregar relleno para el textarea */
    resize: vertical; /* Permitir el cambio de altura verticalmente si es necesario */
    padding: 27px;
    border: none;
    background: #fff;
    outline: 0;
    border-radius: 50px;
    font-family: Dosis;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
  }

.contact-form form button {
    background: #FE5E6D;
    border: none;
    padding: 24px;
    border-radius: 50px;
    color: #FFF;
    font-weight: 600;
}

p.block.sbmt {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin: auto; */
    }


.contact-form form button:hover,
.contact-form form button:focus {
    background: #FCA311;
    color: #fff;
    transition: background-color 0.2s ease-out;
    outline: 0;
    
}

.h2{
    color: #404040;
    font-size: 56px;
    font-style: normal;
    line-height: 66px; /* 117.857% */
}

.h6{
    color: #404040;
   
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}
.h4{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; /* 127.778% */
}
.h5{
    color: #404040;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
} 

.bg-orange {
    color: #FAA212;
}   

form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el formulario en dos columnas */
    gap: 0px; /* Espacio entre elementos */
  }
  
  p.block {
    grid-column: span 2; /* Los elementos con clase "block" ocupan dos columnas completas */
  }
  



/* Detalle contacto*/

.contact-info {
    background: #FCA311;
    padding: 40px 104px 0px 104px;
}

.contact-info-img{
    background: #FCA311;
    border-radius: 0px 0px 0px 50px;
}
.contact-info h6, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 5px 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 64px;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 32px 0px 0px 0px;
    }
    .contact-info {
        padding: 50px 104px 0px 104px;
    }
    .contact-info h6,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

/*Gato portada contactenos*/

.container__imgdetalles,
.img__gato{
    height: 300px;
    width: 300px;
    padding-left: 0px 0px;
}

/*************************/
/****   Footer   *****/
/*************************/

.container__footer {
    display: flex;
    justify-content: space-around;
}

.social.mb-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

ul.list-unstyled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

p.mb-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-16371 .footer-site-logo {
    text-align: center;
}

.footer-16371 .footer-site-logo a {
    color: #4200ff; }

.footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
      
.footer-16371 .nav-links li {
    display: inline-block; }

.footer-16371 .nav-links li a {
    padding: 10px;
    color: #000; }

.footer-16371 .nav-links li a:hover {
    color: #FE5E6D; }
    
.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }

.footer-16371 .social ul li {
    display: inline-block; }

.footer-16371 .social ul li a {
    display: inline-block;
    padding: 10px; }

.footer-16371 .social ul li.li a {
    color: #df588a; }

.footer-16371 .social ul li.wp a {
    color: #19ff15dd; }
