/* Estilos de feed */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600&family=Outfit:wght@100;300;600;700&family=Quicksand:wght@300;400;500&display=swap');

  
  :root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(0, 0%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --azul: #30B6B8 ;
    --naranja: #F9A112;
    --rojo: #FE5E6D;
    --gris: #404040;
    --blanco: #FFFFFF;

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 4rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Dosis', sans-serif;
    color: var(--color-dark);
    background: var(--color-white) ;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}



.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
} 

img {
    display: block;
    width: 100%;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}

/*=================== NAVBAR ===================*/

.img__logo{
    width: 150px;
    
}

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 -60px
}


  

nav .search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}
.search-bar i {
    font-size: 1rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

nav .search-bar input  {
    background: transparent;
    width: 20vw;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-dark)

}

nav .search-bar input [type="search"]::placeholder {
    color: var(--color-gray);
}

.user-navbar {
    display: flex;
    
}




/* ========== MAIN ========== */
h3 {
    color: var(--gris);
}
a {
    color: inherit; 
    text-decoration: none; 
}

main {
    position: relative;
    top: 5.4rem;
}


main .container {
    display: grid;
    grid-template-columns: 15vw auto 23vw;

    position: relative;
}


/* ========== LEFT ========== */
main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
    background-color: var(--color-white);
}


/* ---------- SIDEBAR ---------- */
.left .sidebar {
    /* width: 200px; */
    margin-top: 50px;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    
    display: flex;
    align-items: center;
    height: 3.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}



.left .sidebar i{
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notification-count {
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}


.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--rojo);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--blanco);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--rojo);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    margin-left: 20px;
    width: 80%;
    padding: 1rem 0;
    font-size: 18px;
}


.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    
}

btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--rojo);
    color: white;
    display: flex;
    justify-content: center;
}


.btn-huella {
    margin-left: 0.2rem;
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;

}

.left .sidebar .menu-item.btn-logout {
    position: fixed;
    bottom: 0;
}


/* .btn-logout {
    margin-top: 220px;
} */

/* ---------- NOTIFICATION POPUP ---------- */

.left .notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--azul), 75%, 60%, 25%);
    z-index: 8;
    display: none;
}
 .left .notifications-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg)
 }

 .left .notifications-popup > div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;

 }

 .left .notifications-popup small {
    display: block;
 }



/* ========== MIDDLE ========== */

.middle {
    background-color: rgba(99, 200, 201, 1);
    border-radius: 50px 0 0 50px;
}

/*---------- FEEDS  ----------*/

.feeds {
    padding: 0px 100px;
}

.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 3rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
    height: 450px;
}

.middle .feed .action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.16rem;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
}



/* ========== RIGHT ========== */
.container .right {
    background-color: var(--color-light);
}







/* Estilo para el fondo de vidrio */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.30); /* Fondo de vidrio */
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px); /* Efecto de desenfoque */
    z-index: 1;
}

/* Estilo para el contenido del formulario emergente */
.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    max-width: 80%;
}

/* Estilo para el campo de título */
#post-form input[name="title"] {
    font-family: 'Dosis';
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    font-size: 23px;

}

form#post-form {
    width: 500px;
    height: 246px;
}

/* Estilo para el campo de descripción */
#post-form textarea[name="content"] {
    font-family: 'Dosis';
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical; /* Permitir que la descripción se redimensione verticalmente */
}

/* Upload image*/

/* Estilo para ocultar el input */
#image-upload {
    display: none;
}

/* Estilo para mostrar el label */
.upload-button {
    cursor: pointer;
}

/* Estilo para cambiar el color del icono de la cámara después de cargar una imagen */
.upload-button i {
    color: var(--rojo);
}

/* Estilo para ocultar el mensaje cuando el input está vacío */
#image-upload:valid + .upload-button #upload-message {
    display: none;
}

/* Estilo para el botón de cierre */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

/* Estilo para el botón "Publicar" */
.publish-button {
    font-family: 'Dosis';
    font-size: 15px;
    margin-top: 20px;
    background-color: var(--rojo);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el botón "Publicar" al pasar el mouse */
.publish-button:hover {
    background-color: var(--azul);
}

/* Estilo para los botones de iconos */
.upload-button,
.emoji-button {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--rojo);
    cursor: pointer;
    padding: 5px;
}

.upload-button:hover,
.emoji-button:hover {
    color: var(--azul);
}

/* Estilo para el contenedor de emojis */
.emoji-popup {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

/* Estilo para el contenedor de emojis al pasar el mouse */
.emoji:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}




/* Estilo Adoption */

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-photo img {
    object-fit: cover;
    border-radius: 50%;
}

/* ========== Middle ========== */
.middle {
    background-color: var(--blanco) !important;
}

.contenedor_adopcion {
    /* background-color: aquamarine; */
    width: 100%;
    padding: 0 50px;
}
.contenedor__banner{
    width: 100%;
    height: 300px;
    background-color: brown;
    margin-top: 40px;
}

.banner {
    height: 100%;
    background-color: black;
}

.banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.contenedor_categorias{
    width: 100%;
    margin-top: 30px;
    /* background-color: rebeccapurple; */
}

.lista_botones{
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-top: 15px;
    gap: 2%;
    width: 100%;
}

.boton_categoria{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    width: 100px;
    height: 30px;
    border: 1px solid var(--rojo);
    border-radius: var(--border-radius);
    background: var(--blanco);
}

.boton_categoria:focus {
    background-color: var(--rojo);
    color: var(--blanco);
}

.icono {
    width: 18%;
    color: #FE5E6D;
}

&:hover img {
    color: red; /* Cambia el color a rojo cuando se pasa el mouse */
  }

.contenedor_mascotas{
    width: 100%;
    /* background-color: chartreuse; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px 0px 50px;
}

.card{
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 220px;
    border-radius: 25px 25px 15px 15px;
    margin-top: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.circle{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px; 
    background-color: var(--blanco); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.fi-br-heart {
    color: red; /* Color del corazón */
    font-size: 14px; /* Tamaño del corazón */
    text-align: center;
    padding-top: 2px;
  }

.img-card{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 25px;
}

.info-mascota{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 18px 0px;
    color: black;
}

.info-mascota h3{
    color: var(--rojo);
}

.info-mascota .edad {
    text-align: right;
    color: var(--gris);
}

.info-mascota .sexo{
    padding-top: 10px;
    color: var(--gris);
}


/* ========== RIGHT ========== */
.right {
    width: 95%;
    background-color: var(--rojo);
    border-radius: 0px 50px 50px 0px;
    display: flex;
    justify-content: center;
}

.contenedor_fundaciones {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--rojo);
}

.listado_fundaciones{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 8%;
}

.titulo_fundaciones{
    width: 95%;
    display: flex;
    align-items: center;
    color: var(--blanco);
    margin-bottom: 40px;
    gap: 20px;
}

.titulo_fundaciones img{
    width: 20%;
}

.card_fundacion{
    width: 100%;
    margin-top: 30px;
}

.profile_fundacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.photo-fundacion{
    width: 20%;
    height: 100%;
}

.photo-fundacion img {
    width: 100%;
    height: 100%;
    max-width: 100%;  
    object-fit: cover;
    border-radius: 50%;
}

.info_fundacion {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 15px;
    font-size: 19px;
    color: var(--blanco);
}

.info_fundacion h4{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.info_fundacion p{
    width: 100%;
    white-space: nowrap;
    color: var(--gris) !important;
    overflow: hidden; 
    text-overflow: ellipsis; 
}


/* =============== PopUp mascotas ============= */

.container__popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: blur(15px);
}

.content-popup{
    position: relative;
    max-width: 430px;
    top: 50px;
    left: 0;
    border-radius: 30px;
    margin-bottom: 100px;
    background-color: var(--blanco);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); /* Sombra en todos los bordes */
}

.carousel-popup{
    width: 100%;
    height: 280px;
    border-radius: 30px;
}

.undo{
    left: 30px;
    right: 0px;
}

.fi-br-undo{
    color: var(--rojo);
}

.circle_popup{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px; 
    background-color: var(--blanco); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-popup img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}


.container-info-pet{
    width: 100%;
    padding: 10px 30px 0px;
}

.title-popup{
    margin-top: 10px;
    font-size: 30px;
    color: var(--gris);
}

.info-pet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.list-box{
    width: 22%;
    height: 80px;
}

.rounded-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--rojo);
    border-radius: 15%;
    gap: 5px;
    font-size: 15px;
}

.rounded-box p {
    color: var(--rojo);
}

.parrafo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recortado{
    overflow: hidden;
    max-height: 90px;
}

#ver-mas {
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: var(--rojo);
}

.description-pet{
    margin: 30px 0px 0px 
}

.btn-adoption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-adoption button {
    background-color: var(--rojo);
    border-radius: 50px;
    width: 45%;
    height: 50px;
    margin: 50px 0px 30px 0px;
    color: var(--blanco);
}

.btn-adoption button:hover{
    background-color: var(--azul);
}
/* Posts Grid styles */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Tamaño de columna deseado */
    grid-auto-rows: 320px; /* Tamaño de fila deseado */
    gap: 5px; /* Espacio entre las imágenes */
    margin: 3rem 6rem;
}

/* Individual post styles */
.post {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(19, 21, 68, 0.06);
}

.post img {
    border-radius: 16px;
    background: lightgray 0px -6.087px / 100% 140.351% no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo para el fondo de vidrio */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.30); /* Fondo de vidrio */
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px); /* Efecto de desenfoque */
    z-index: 1;
}

/* Estilo para el contenido del formulario emergente */
.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    width: 50%;
    max-width: 80%;
}

/* Estilo para el campo de título */
#post-form input[name="title"] {
    font-family: 'Dosis';
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h2 {
    font-size: 23px;

}


/* Estilo para el campo de descripción */
#post-form textarea[name="content"] {
    font-family: 'Dosis';
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical; /* Permitir que la descripción se redimensione verticalmente */
}

/* Upload image*/

/* Estilo para ocultar el input */
#image-upload {
    display: none;
}

/* Estilo para mostrar el label */
.upload-button {
    cursor: pointer;
}

/* Estilo para cambiar el color del icono de la cámara después de cargar una imagen */
.upload-button i {
    color: var(--rojo);
}

/* Estilo para ocultar el mensaje cuando el input está vacío */
#image-upload:valid + .upload-button #upload-message {
    display: none;
}

/* Estilo para el botón de cierre */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

/* Estilo para el botón "Publicar" */
.publish-button {
    font-family: 'Dosis';
    font-size: 15px;
    margin-top: 20px;
    background-color: var(--rojo);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el botón "Publicar" al pasar el mouse */
.publish-button:hover {
    background-color: var(--azul);
}

/* Estilo para los botones de iconos */
.upload-button,
.emoji-button {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--rojo);
    cursor: pointer;
    padding: 5px;
}

.upload-button:hover,
.emoji-button:hover {
    color: var(--azul);
}

.emojis--container {
    display: inline;
}

#post-img-preview {
    width: 35%;
    margin: auto;
    display: none;
}
/* Estilo para el contenedor de emojis */
.emoji-popup {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    padding: 1px;
    background: white;
    height: 33vh;
    overflow: scroll;
    width: 370px;
    margin: 3px auto auto;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

/* Estilo para el contenedor de emojis al pasar el mouse */
.emoji:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}


/* ======= Responsive ======== */


/* Estilos para dispositivos móviles (ancho menor a 1024px) */
@media (max-width: 1024px) {
    /* Define aquí tus estilos para móviles */
    .contenedor_mascotas{
        grid-template-columns: repeat(3, 1fr);
    }

    .titulo_fundaciones h1 {
        font-size: 25px;
    }

    .info_fundacion h4{
        font-size: 18px;
    }

    .info_fundacion p{
        font-size: 17px;
    }

    .photo-fundacion {
        width: 25%;
    }

    .info_fundacion {
        width: 75%;
    }
}

/* Estilos para dispositivos móviles (ancho menor a 800px) */
@media (max-width: 1000px){
    main .container{
        width: 100%;
        display: flex;
    }

    .right{
        display: none;
    }
    .left{
        display: none;
    }

    .middle{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contenedor_adopcion {
        width: 100%;
        padding: 0 30px;
    }

    .contenedor_mascotas{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Estilos para dispositivos móviles (ancho menor a 800px) */
@media (max-width: 719px){
    .contenedor_mascotas{
        grid-template-columns: repeat(2, 1fr);
    }

    .lista_botones{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .lista_botones li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 10px);
        padding: 5px;
        text-align: center;
    }

    .boton_categoria{
        width: 95%;
    }

}

@media (max-width: 428px){
    .content-popup{
        width: 100%
    }
}